

.picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header {
  
    color: white;
    text-align: center;
    position: absolute;
    font-weight: bold;
    height: fit-content;
    margin-top: 100px;
  
   
}
/* .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  } */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
  
    font-weight: bold;
    padding: 12px 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
 



